# Test Report Document

## Table of contents

- [Table of contents]()
- [Introduction]()
- [Test Strategie]()
- [Test Plan]()
- [Test Cases]()
- [Test Results]()
- [Metrics]()
- [Recommendations]()
- [Conclusion]()


## 1. Introduction

·WIP·

## 2. Test Strategie

·WIP·

## 3. Test Plan

·WIP·

## 4. Test Cases

·WIP·

## 5. Test Results

·WIP·

## 7. Metrics

·WIP·

## 8. Recommendations

·WIP·

## 9. Conclusion

·WIP·

