# Test Report Document

## Table of contents

- [Table of contents]()
- [Introduction]()
- [Test Strategie]()
- [Test Plan]()
- [Test Cases]()
- [Test Results]()
- [Metrics]()
- [Recommendations]()
- [Conclusion]()


## 1. Introduction

·WIP·

## 2. Test Strategie

·WIP·

## 3. Test Plan

·WIP·
