# Test Report Document

## Table of contents

- [Table of contents](https://github.com/Tiaaam/GuessMaster/blob/master/docs/Test_Report.md#table-of-contents)
- [Introduction](https://github.com/Tiaaam/GuessMaster/blob/master/docs/Test_Report.md#1-introduction)
- [Test Strategie](https://github.com/Tiaaam/GuessMaster/blob/master/docs/Test_Report.md#2-test-strategie)
- [Test Plan](https://github.com/Tiaaam/GuessMaster/blob/master/docs/Test_Report.md#3-test-plan)
- [Test Cases](https://github.com/Tiaaam/GuessMaster/blob/master/docs/Test_Report.md#4-test-cases)
- [Test Results](https://github.com/Tiaaam/GuessMaster/blob/master/docs/Test_Report.md#5-test-results)
- [Metrics](https://github.com/Tiaaam/GuessMaster/blob/master/docs/Test_Report.md#6-metrics)
- [Recommendations](https://github.com/Tiaaam/GuessMaster/blob/master/docs/Test_Report.md#7-recommendations)
- [Conclusion](https://github.com/Tiaaam/GuessMaster/blob/master/docs/Test_Report.md#8-conclusion)


## 1. Introduction

·WIP·

## 2. Test Strategie

·WIP·

## 3. Test Plan

·WIP·

## 4. Test Cases

·WIP·

## 5. Test Results

·WIP·

## 6. Metrics

·WIP·

## 7. Recommendations

·WIP·

## 8. Conclusion

·WIP·

