# Test Report Document

## Table of contents

- [Table of contents](https://github.com/Tiaaam/GuessMaster/blob/master/docs/Test_Report.md#table-of-contents)
- [Introduction](https://github.com/Tiaaam/GuessMaster/blob/master/docs/Test_Report.md#1-introduction)
- [Test Strategie](https://github.com/Tiaaam/GuessMaster/blob/master/docs/Test_Report.md#2-test-strategie)
- [Test Plan](https://github.com/Tiaaam/GuessMaster/blob/master/docs/Test_Report.md#3-test-plan)
- [Test Cases](https://github.com/Tiaaam/GuessMaster/blob/master/docs/Test_Report.md#4-test-cases)
- [Test Results](https://github.com/Tiaaam/GuessMaster/blob/master/docs/Test_Report.md#5-test-results)
- [Metrics](https://github.com/Tiaaam/GuessMaster/blob/master/docs/Test_Report.md#6-metrics)
- [Recommendations](https://github.com/Tiaaam/GuessMaster/blob/master/docs/Test_Report.md#7-recommendations)
- [Conclusion](https://github.com/Tiaaam/GuessMaster/blob/master/docs/Test_Report.md#8-conclusion)


## 1. Introduction

·WIP·

## 2. Test Strategie

·WIP·

## 3. Test Plan

Test-types: Unit Testing, Smoke Testing
Target-Test-Coverage: every newly added major function (Smoke testing), 20% (Unit Testing)
Testing-Tool: Unity Test Framework
Manage-Test-Cases: Internal Unity test manager; through manual code exchanges different deplyoment versions can be tested

## 4. Test Cases

- In our first tests we check if the CSV file responsible for the questions & answers is present in the resource folder

![image](https://github.com/Tiaaam/GuessMaster/assets/62339676/df719a81-a2b3-4175-92e8-5809712e7538)

## 5. Test Results

·WIP·

## 6. Metrics

·WIP·

## 7. Recommendations

·WIP·

## 8. Conclusion

·WIP·

